@media (min-width: 670px) {
    .grid-item {
        padding-left: 30px;
        padding-right: 30px;
        height: 480px;
    }
}

@media (min-width: 670px) and (max-width: 1024px) {
    .grid-item {
        height: 420px;
    }
}
@media (max-width: 669px) {
    .navbar-nav {
        margin: 0;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-default .navbar-nav > li.active > a, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
        border: none;
    }
    .navbar-nav > li {
        margin-right: 0;
    }
    .navbar-nav > li > a {
        line-height: normal;
        border-top: none;
    }
    .bottom-right {
        text-align: center;
        margin-top: 10px;
    }
}